<section>
    <div>
      <div class="row mt-3">
        <div class="col-sm">
          <img class="img-responsive ms-4 " src="assets/img/offers (1).jpeg" height="90px" width="90px"><br><label class="ms-4"><b><em>Special offers</em></b></label>
          </div>
          <div class="col-sm">
            <img class="img-responsive rounded-circle " src="assets/img/chair (1).jpg" height="90px" width="90px"><br><label class="ms-3"><b><em>Chair</em></b></label>
            </div>
            <div class="col-sm">
              <img class="img-responsive rounded-circle " src="assets/img/bed (1).jpg" height="90px" width="90px"><br><label class="ms-3"><b><em>Bed</em></b></label>
              </div>
              <div class="col-sm">
                <img class="img-responsive rounded-circle" src="assets/img/dinning (1).jpg" height="90px" width="90px"><br><label class="ms-2"><b><em>Dinning</em></b></label>
                </div>
                <div class="col-sm">
                  <img class="img-responsive rounded-circle" src="assets/img/sofa (1).jpg" height="90px" width="90px"><br><label class="ms-3"><b><em>Sofa</em></b></label>
                  </div>
                  <div class="col-sm">
                    <img class="img-responsive rounded-circle " src="assets/img/swing (1).jpg" height="90px" width="90px"><br><label class="ms-2"><b><em>Swing</em></b></label>
                    </div>
                    <div class="col-sm">
                      <img class="img-responsive rounded-circle" src="assets/img/table (1).jpg" height="90px" width="90px"><br><label class="ms-3"><b><em>Table</em></b></label>
                      </div>
                      <div class="col-sm">
                        <img class="img-responsive rounded-circle" src="assets/img/baby furniture.jpg" height="90px" width="90px"><br><label><b><em>Baby furniture</em></b></label>
                        </div>
                        <div class="col-sm">
                          <img class="img-responsive rounded-circle" src="assets/img/cupboard.jpg" height="90px" width="90px"><br><label class="ms-3"><b><em>Cupboard</em></b></label>
                          </div>
      </div>
    </div>
  </section>
  
  
